.com { color: #c0c0c0; }
.lit { color: #3370ec; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #78d67a; }
.kwd, .prettyprint .tag { color: #b0c9ee; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #fff; }

.prettyprint {
  padding: 8px;
  background: url(../img/darck_bg.png) 0 0 repeat #424242;
  border: 1px solid #e1e1e8;
  font-family: monospace , 'Courier New', Arial, Helvetica;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 rgba(0,0,0,.7), inset 41px 0 0 #696969;
     -moz-box-shadow: inset 40px 0 0 rgba(0,0,0,.7), inset 41px 0 0 #696969;
          box-shadow: inset 40px 0 0 rgba(0,0,0,.7), inset 41px 0 0 #696969;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 33px; /* IE indents via margin-left */
}
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 20px;
}

ol.linenums li span {
	font-family: monospace , 'Courier New', Arial, Helvetica;
}