* {
	font-family: Arial, Helvetica, sans-serif;
}
html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}
body {
	background: url(../img/paper_bg.png) repeat center center #f3f3f3;
}
#wrapper .right_menu ul.nav li.active a {
	color: #fff;
}
#wrapper .right_menu ul.nav li a {
	color: #333;
}
#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -63px;
}
.floatleftisright [class*="span"] {
	float: right;
}

.floatleftisright .span3 {
}

p {
	font-size: 16px;
	line-height: 25px;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.clear {
	clear: both;
}

h1.main-title {
	font-size: 62px;
	font-weight: normal;
	margin: 20px 0;
}

#main #content p.description, p.description {
	font-size: 16px;
	line-height: 25px;
	text-align: left;
	color: #3b3b3b;
}

#main #content p.info, p.info {
	font-size: 16px;
	background: rgba(53,53,46,.2);
	font-size: 14px;
	line-height: 20px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 10px 0;
	margin: 15px 0;
	text-align: center;
	text-shadow: 1px 1px 0 #ddd;
}
a i {
	opacity: 0.5;
}
.info a {
	
}
dl {
	margin-bottom: 15px;
}
dt {
	margin: 30px 10px 10px 10px;
	border-bottom: 1px dashed #999;
	padding-bottom: 10px;
}
.mini_dl dl {
	margin-bottom: 10px;
}
.mini_dl dl dt {
	display: inline;
	font-weight: bold;
	border: none;
	padding: 0;
	margin: 0;
}
.mini_dl dl dd {
	display: inline;
}
.mini_dl dl {
	margin: 0 10px 0 40px;
	padding: 5px 20px;
	border-left: 4px solid #CCC;
	border-bottom: 1px dashed #CCC;
}
.mini_dl dl:nth-last-child(1) {
	border-bottom: 0;
}
.mini_dl {
	margin-bottom: 15px;
}
.pull-left img {
	margin: 0 15px 15px 0;
}
.thumb img {
	border: 4px solid #eee;
}
a.read-more {
	text-align: right;
	margin: 5px;
	display: block;
}

.components {
	margin-top: 25px;
}

.components p {
	margin-bottom: 0;
}

div.quick-buttons {
	width: 520px;
	margin: 0 auto;
}
#content .quick-buttons a{
	float: left;
	position: relative;
	color: #fff;
	text-decoration: none;
	background-color: #458eef;
	font-size: 36px;
	text-shadow: 1px 1px 0 #1e559e;
	display: block;
	padding: 18px 0;
	margin: 30px auto;
	width: 160px;
	text-align: center;
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
	width: 260px;
	position: relative;
}
#content .quick-buttons a:visited {
	color: #fff;
}
#content .quick-buttons a:after {
	display: block;
	width: 250px;
	content: "";
	border-top: 10px solid #1e559e;
	border-left: 10px solid transparent;
	position: absolute;
	left: 0;
	top: 100%;
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}
#content .quick-buttons a#downloads-button {
	background-color: #d82a20;
	text-shadow: 1px 1px 0 #9a140b;
}
#content .quick-buttons a:hover {
	background-color: #0a87fb;
	color: #fff;
}
#content .quick-buttons a#downloads-button:hover {
	background-color: #f61d10;
}
#content .quick-buttons a#downloads-button:after {
	border-top-color: #9a140b;
	border-left: 0;
	border-right: 10px solid transparent;
}
#content .quick-buttons a:active{
	top: 10px;
	color: #fff;
}
#content .quick-buttons a:active:after {
	border-top-width: 0;
}
#content .link_icon, #content .link_icon:hover, #content .link_icon:visited {
	text-decoration: none;
}
.link_icon img {
	transition: transform 0.3s ease-in-out;
		-webkit-transition: -webkit-transform 0.3s ease-in-out;
		-moz-transition: -moz-transform 0.3s ease-in-out;
		-o-transition: -o-transform 0.3s ease-in-out;
		-ms-transition: ms-transform 0.3s ease-in-out;
}
.link_icon:hover img {
	transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
}
/*----coor_animate----*/
.bg_color_anime, #top_menu li a:after {
	transition: background-color 0.3s ease-in-out;
		-webkit-transition: background-color 0.3s ease-in-out;
		-moz-transition: background-color 0.3s ease-in-out;
		-o-transition: background-color 0.3s ease-in-out;
		-ms-transition: background-color 0.3s ease-in-out;
}
.color_anime, a {
	transition: color 0.3s ease-in-out;
		-webkit-transition: color 0.3s ease-in-out;
		-moz-transition: color 0.3s ease-in-out;
		-o-transition: color 0.3s ease-in-out;
		-ms-transition: color 0.3s ease-in-out;	
}
.anime_all, .side_menu ul li a, #top_menu li.dropdown a:after {
	transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
}
/*-----top-menu----*/
#top_menu {
	border-top: 2px solid #9a140b;
}
#top_menu .btn-navbar {
	float: left;
	position: relative;
	left: 110px;
}
#top_menu .logo img{
	margin-top: -45px;
	position: relative;
	top: 25px;
}
#top_menu .divider-vertical {
	margin: 0;
}
#top_menu .nav>li>a {
	padding: 10px 10px 10px;
	font-size: 21px;
	font-weight: normal;
}
#top_menu .nav>li>a {
	position: relative;
}
#top_menu .nav>li>a:before {
	content: "";
	display: block;
	height: 2px;
	width: 100%;
	background-color: #9a140b;
	position: absolute;
	top: -2px;
	left: 0;
}
#top_menu li.active a {
	cursor: default;
}
#top_menu li.active a:before, #top_menu li:hover a:before {
	background-color: #e24722;
}
#top_menu li.dropdown > a:after {
	display: inline-block;
	content: "";
	border-top: 6px solid #999;
	border-right: 6px solid rgba(0, 0, 0, 0);
	border-left: 6px solid rgba(0, 0, 0, 0);
	border-bottom: 0  solid rgba(0, 0, 0, 0);
	margin-left: 5px;
	position: relative;
	top: -3px;
	left: 5px;
}
#top_menu li.dropdown > a:hover:after {
	border-top-color: #fff;
}
#top_menu li.open > a:after {
	border-top: 0 solid rgba(0, 0, 0, 0);
	border-right: 6px solid rgba(0, 0, 0, 0);
	border-left: 6px solid rgba(0, 0, 0, 0);
	border-bottom: 6px solid #fff;
}
#top_menu ul.dropdown-menu {
	padding: 0 15px;
	margin: 0;
	border-top: 2px solid #d82a20;
	background-color: rgba(0,0,0,.8);
	border-radius: 0 0 3px 3px;
		-webkit-border-radius: 0 0 3px 3px;
		-moz-border-radius: 0 0 3px 3px;
	column-count: 2;
	column-gap: 30px;
	column-rule: 1px solid #5a5959;
		-webkit-column-count: 2;
		-webkit-column-gap: 30px;
		-webkit-column-rule: 1px solid #5a5959;
			-moz-column-count: 2;
			-moz-column-gap: 30px;
			-moz-column-rule: 1px solid #5a5959;
	left: -50%;
}
#top_menu ul.dropdown-menu li a {
	color: #afafaf;
	font-size: 18px;
	text-decoration: none;
	padding: 10px 0;
}
#top_menu ul.dropdown-menu li {
	margin: 0;
	padding: 0;
}
#top_menu ul.dropdown-menu li a:hover, #top_menu ul.dropdown-menu li a:active, #top_menu ul.dropdown-menu li a:visited {
	color: #fff;
	background: none;
}
#top_menu .nav>li>.dropdown-menu:after {
	position: absolute;
	top: -6px;
	left: 50%;
	margin-left: -6px;
	display: inline-block;
	border-right: 6px solid rgba(0, 0, 0, 0);
	border-bottom: 6px solid #D82A20;
	border-left: 6px solid rgba(0, 0, 0, 0);
	content: '';
}
/*-------page-----*/
.page-header {
	border-bottom-color: #3b3b3b;
	margin: 20px 0;
}
.page-header h3 {
	margin: 0;
}
#content, #content p {
	line-height: 26px;
	font-size: 16px;
	margin-bottom: 15px;
}
#content ul, #content ol {
	/*margin-left: 40px;*/
}
#content .post li {
	margin: 10px 0;
}
.main_logo {
	margin-top: 15px;
}
#content a {
	color: #9a140b;
}
#content a:hover, #content a:visited, #content a:active {
	color: #e24722;
}
pre.prettyprint {
	margin: 10px 0;
	max-height: 300px;
	overflow-y: auto;
}
ul.note {
	margin: 0 0 15px 0;
}
ul.note li{
	list-style: none;
	padding: 3px 0;
	margin: 0;
	font-size: 14px;
}
/*------sidebar_menu----*/
.side_menu {
	background: rgba(53,53,51,.2);
	margin: 3px 0;
	position: fixed;
}
.side_menu.right_menu {
	border-radius: 0 3px 3px 0;
		-webkit-border-radius: 0 3px 3px 0;
		-moz-border-radius: 0 3px 3px 0;
}
.side_menu.left_menu {
	border-right: 2px solid #9a140b;
	border-radius: 3px 0 0 3px;
		-webkit-border-radius: 3px 0 0 3px;
		-moz-border-radius: 3px 0 0 3px;
}
.side_menu h3 {
	margin: 0;
	padding: 10px 15px;
	font-size: 20px;
	font-weight: normal;
	color: #333;
	text-shadow: 1px 1px 0 #f3f3f3;
	border-bottom: 1px solid #3b3b3b;
	border-left: 3px solid #9a140b;
}
.side_menu nav > ul {
	display: block;
	margin: 0;
}
.side_menu ul li {
	list-style: none;
	position: relative;
	z-index: 3;
}
.side_menu nav > ul > li {
	padding: 0;
	margin: 0;
}
.side_menu nav > ul > li > a {
	display: block;
	padding: 7px 15px;
	font-size: 16px;
	color: #333;
	text-shadow: 1px 1px 0 #f3f3f3;
	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #9b9b9b;
	border-left: 3px solid #9a140b;
	position: relative;
	text-decoration: none;
}
.side_menu ul li:nth-last-child(1) a {
	border-bottom: none;
}
.side_menu nav > ul > li > a:hover {
	background: rgba(255,255,255,.6);
	padding-left: 10px;
	border-left: 3px solid #e24722;
}
.side_menu ul li.active {
	z-index: 1;
}
.side_menu nav > ul > li.active > a, .side_menu nav > ul > li.active > a:hover {
	background: #2c2c2c;
	color: #fff;
	padding-left: 10px;
	border-left: 3px solid #e24722;
	text-shadow: none;
	cursor: default;
}
/*------fork-----*/
#fork_wrap {
	height: 200px;
	pointer-events:none;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	overflow: hidden;
}
#fork_wrap a {
	display: block;
	pointer-events:initial;
	text-align: center;
	padding: 5px 0;
	background: #d82a20;
	color: #fff;
	font-size: 18px;
	text-shadow: 1px 1px 0 #900;
	position: relative;
	left: 50px;
	top: 45px;
	transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
}
#fork_wrap a:hover {
	text-decoration: none;
	background-color: #e24722;
}
#fork_wrap a span {
	display: block;
	padding: 5px 35px;
	border-top: 1px dashed #9a140b;
	border-bottom: 1px dashed #9a140b;
}
/*---------footer--------*/
.push {
	padding-top: 2px;
}
#footer, .push {
	height: 60px;
	clear: both;
}
#footer:before {
	content: "";
	display: block;
	position: relative;
	top: -2px;
	width: 100%;
	height: 1px;
	background: #3B3B3B;
}
#footer {
	background: url(../img/darck_bg.png) 0 0 repeat;
	border-top: 1px solid #f9f9f9;
	height: 60px;
}
#footer .container {
	padding: 15px 0;
}
#footer p {
	font-size: 12px;
	color: #b5b5b5;
}
#footer a {
	color: #b5b5b5;
	text-decoration: none;
}
#footer a:hover, #footer a:visited, #footer a:active {
	color: #fff;
}
#footer a.with_border:before {
	content: "|";
	margin: 0 10px;
}
/*------media-----*/
@media (max-width: 979px){
	#top_menu .nav li a {
		font-weight: normal;
	}
	#top_menu .nav>li>a:before {
		display: none;
	}
	#top_menu .nav > li {
		border-top: 1px solid #444;
	}
	#top_menu .nav > li:nth-child(1) {
		border-top: none;
	}
	#top_menu .nav li a:hover {
		color: #fff;
	}
	#top_menu .nav .dropdown-menu {
		border: none;
		column-count: 1;
			-webkit-column-count: 1;
			-moz-column-count: 1;
			-o-column-count: 1;
			-ms-column-count: 1;
		margin-left: 20px;
		background: none;
	}
	#top_menu .nav>li>.dropdown-menu:after {
		display: none;
		margin-left: 20px;
		background: none;
	}
}
@media (max-width: 767px) {
	#footer .container {
		padding: 15px;
	}
	.side_menu {
		position: initial;
	}
	#footer .container {
			background: url(../img/darck_bg.png) 0 0 repeat;
	}
}
@media (max-width: 510px) {
	div.quick-buttons {
		width: auto;
	}
	#content .quick-buttons a {
		float: initial;
	}
	#content .quick-buttons a#downloads-button:after {
		width: 240px;
		border-left: initial;
	}
	#content .quick-buttons a:after {
		width: 240px;
		border-right: 10px solid rgba(0, 0, 0, 0);
	}
	#content .quick-buttons a#downloads-button:after {
		border-left: 10px solid rgba(0, 0, 0, 0);
	}
}
