.*.swp
*.o
*.log
dump.rdb
redis-v8-benchmark
redis-v8-check-aof
redis-v8-check-dump
redis-v8-cli
redis-v8-sentinel
redis-v8-server
doc-tools
release
misc/*
src/release.h
appendonly.aof
SHORT_TERM_TODO
release.h
src/transfer.sh
src/configs
redis.ds
src/redis.conf
deps/lua/src/lua
deps/lua/src/luac
deps/lua/src/liblua.a
.make-*
.prerequisites
*.dSYM
