{% extends 'layout.html' %}
{% block contentclass %}{% endblock %}

{% block content %}
<div class="page-header">
	<h1>Arseniy Pavlenko <small>h0x91B</small></h1>
</div>
	<span class="thumb pull-left">
		<img src="/img/arseniy-pavlenko.jpg" alt="Arseniy Pavlenko Redis-V8 author" width="200" height="200">
	</span>
<p>
	My name is Arseny Pavlenko and I've been dabbling in all sorts of web development for the last 10 years or so. I love using Redis and JavaScript, my Apple gear, and enjoy the mental kick that working with innovative technologies affords, in general. 
</p>
<p style='font-size:1.5em;'>If you have any questions about the project or would just like to chat feel free to contact me at any time.
</p>
<p>
	<a href="http://www.linkedin.com/in/h0x91b" target="_blank" class="link_icon">
		<img src="/img/linkedin.png" alt="Arseny Pavlenko Linkedin profile">
	</a>
	E-Mail: <a href="mailto:h0x91b@gmail.com" target="_blank">h0x91b@gmail.com</a>
</p>
<p>
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
	<g:plus href="https://plus.google.com/114276860133414291711"></g:plus>
</p>
<div class="clear"></div>
<div class="center">
	<iframe id="forum_embed"
	  src="javascript:void(0)"
	  scrolling="no"
	  frameborder="0"
	  width="900"
	  height="700">
	</iframe>
	<script type="text/javascript">
	  document.getElementById('forum_embed').src =
	     'https://groups.google.com/forum/embed/?place=forum/redis-v8'
	     + '&showsearch=true&showpopout=true&showtabs=false'
	     + '&parenturl=' + encodeURIComponent(window.location.href);
	</script>
	
</div>
{% endblock %}
